@page
@model SimpleClincManage.Pages.Admin.CreateModel
@{
}
<br />
<h2 class="text-info"> Add a New patient </h2> <br />

<div class="border container">
    <form method="post"> 
        <div asp-validation-summary="All" class="text-danger" ></div>
        <div class=" form-group row">
            <div class="col-4">
                <label asp-for="patients.PatientName"></label>
            </div>
            <div class="col-6">
                <input asp-for="patients.PatientName" class="form-control" />

            </div>
            <span asp-validation-for="patients.PatientName" class="text-danger"></span>

        </div>
        <br />
         <div class=" form-group row">
            <div class="col-4">
                <label asp-for="patients.Email"></label>
            </div>
            <div class="col-6">
                <input asp-for="patients.Email" class="form-control" />

            </div>
            <span asp-validation-for="patients.Email" class="text-danger"></span>
            <br />
            <div class=" form-group row">
            <div class="col-4">
                <label asp-for="patients.PhoneNo"></label>
            </div>
            <div class="col-6">
                <input asp-for="patients.PhoneNo" class="form-control" />

            </div>
            <span asp-validation-for="patients.PhoneNo" class="text-danger"></span>
            <br />
            <div class=" form-group row">
            <div class="col-4">
                <label asp-for="patients.MedicalRec"></label>
            </div>
            <div class="col-6">
                <input asp-for="patients.MedicalRec" type="file" class="form-control" />

            </div>
            <br />
        </div>
        <div class="form-group row mt-3">
            <div class="col-3 offset-4 ">
                <input type="submit" value="Create" class="btn btn-primary form-control" / >
            </div>
            <div class="col-3">
                <a asp-page="Patient" class="btn btn-success form-control"> Back  </a>
            </div>

        </div>
    </form>

</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}